@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    margin: 0;
    background-color: #161a1d;
    color: #FEFFFF;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: underline;
    color: #FEFFFF;
    -webkit-transition: .2s ease-in-out;
       -moz-transition: .2s ease-in-out;
        -ms-transition: .2s ease-in-out;
         -o-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
}
a:hover {
    text-decoration: none;
    color: #C82D6F;
}

h1 {
    font-size: 34px;
    font-weight: normal;
    margin: 0 0 20px 0;
    font-family: 'Rubik', sans-serif;
}
h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid #232C33;
    padding: 0 0 5px 0;
    font-family: 'Rubik', sans-serif;
}